.cart-container {
   background: url('C:\Users\lokes\OneDrive\Desktop\Projects\personalized-gift-store\public\images\theme.jpeg') no-repeat center center/cover;
    height: 100vh;
    text-align: center;
    padding: 50px;
    font-family: 'Dancing Script', cursive;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 15px;
    margin: 10px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .cart-item h3 {
    font-size: 18px;
    flex: 1;
  }
  
  .cart-item p {
    font-size: 18px;
    color: #ff4d6d;
    font-weight: bold;
  }

  .cart-button {
    background-color: #4dd0ff;
    color: rgb(6, 6, 6);
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
  }