.explore-container {
    background: url('/images/theme.jpeg') no-repeat center center/cover;
    height: 100vh;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    padding: 50px;
  }
  
  .categories {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .categories button {
    background-color: #4dd0ff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .categories button:hover {
    background-color: #e63956;
  }
  