.home {
  text-align: center;
  padding: 50px;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: #ff1493;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.explore-btn {
  font-size: 22px;
  background: #ff69b4;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.explore-btn:hover {
  background: #ff1493;
}
